:root {
  body.dark {
    --primary-bg: #121212;
    --secondary-bg: #1E1E1E;
    --primary-btn-bg: #BB86FC;
    --primary-border-color: #282828;
    --primary-text: #E1E1E1;
    --secondary-text: #A9A9A9;
    --link-btn-text: #BB86FC;
    --warning-text: #CF6679;
  }
}
