:root {
  --primary-bg: #FFFFFF;
  --secondary-bg: #F5F5F5;
  --primary-btn-bg: #6200EE;
  --primary-border-color: #E0E0E0;
  --primary-text: #202124;
  --secondary-text: #5F6368;
  --primary-btn-text: #E1E1E1;
  --link-btn-text: #6200EE;
  --warning-text: #D32F2F;
}
