h1, h2 {
  font-size: var(--text-l);
}
 ul {
   margin: 0;

   li {
     font-size: var(--text-m);

     .link-btn {
       font-size: var(--text-m);
     }
   }
 }

 main {
   display: flex;
   flex-direction: column;
   gap: 10px;
 }
